@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	margin: 0;
	background: linear-gradient(to right, #f2f2f2, #dbdbdb, #eaeaea); 
}

img {
	max-width: 500px;
	max-height: 500px;
	width: 100%;
	border-radius: 8px;
}

main {
	text-align: center;
	margin: 15px 30px;
}

button {
	border: 0;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 16px;
	background: orangered;
	color: white;
	margin: 20px 0;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border-radius: 10px;
}

button:hover {
	background: orange;
}